<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">contact</li>
    </ol>
</nav>
<div class="px-4 py-3 my-3 text-center">
    <h1 class="display-5 fw-bold">Contact</h1>
    <div class="col-lg-6 mx-auto">
    <p class="lead">
        Keep in touch with us by dropping a message or using the different media links provided.</p>
    </div>
</div>

<div class="row justify-content-center mb-5 mx-auto">
    
    <% if(infoSubmitObj != '') { %>  
        <div class="col-8 alert alert-success w-100" role="alert">
            <%- infoSubmitObj %>
        </div>
    <% } %>  

    <% if(infoErrorsObj != '') { %>  
        <div class="col-8 alert alert-danger w-100" role="alert">
            <%- infoErrorsObj[0].message %>
        </div>
    <% } %>  
    <div class="col-8">
        <form action="/contact" enctype="multipart/form-data" method="POST">
            <div class="row g-3">
    
                <div class="col-12">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" id="name" class="form-control shadow-none" required>
                </div>
    
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control shadow-none" required>
                </div>
                
                <div class="col-12">
                    <label for="message" class="form-label">Description</label>
                    <textarea name="message" id="message" class="form-control shadow-none" cols="30" rows="4" required></textarea>
                </div>
    
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="social px-3 mx-3">
    <span><a href="#" class="fs-3"><i class="bi bi-twitter-x"></i></a></span>
    <span><a href="#" class="fs-3"><i class="bi bi-linkedin"></i></a></span>
    <span><a href="#" class="fs-3"><i class="bi bi-github"></i></a></span>
    <span><a href="https://wa.me/09023187770" class="fs-3"><i class="bi bi-whatsapp"></i></a></span>
    <span><a href="http://www.instagram.com/itz_phygo?igshid=OGQ5ZDc2ODk2ZA==" class="fs-3"><i class="bi bi-instagram"></i></a></span>
    <span><a href="#" class="fs-3" style="color: green"><i class="bi bi-diamond-fill"></i></a></span>
</div>